.wrapper {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 12px 6px 30px 6px;
  margin: 8px auto 90px auto;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
}

.title {
  font-weight: 400;
  font-size: 16px;
  width: min-content;
  white-space: nowrap;
  padding: 6px 6px 3px 6px;
  margin: 0 auto 10px auto;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgba(183, 216, 227, 1) 0%,
    rgba(183, 216, 227, 0.74) 37%,
    rgba(183, 216, 227, 0.09) 100%
  );
}

.container {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 5px;
  line-height: 1.2;
}

.calendarContainer {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 5px;
}

.icon {
  width: 25px;
  margin: 0 5px;
}

.subtext {
  font-size: 12px;
}

.additionalText {
  margin: 10px auto;
  font-weight: 500;
  font-size: 12px;
}

.calendarBlock {
  margin-bottom: 8px;
}
