.title {
  width: min-content;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px auto 50px auto;
  padding: 12px 6px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  .title {
    font-weight: 400;
    font-size: 34px;
  }

  .list {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
  }
}