.module {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  margin: 6px;
  padding: 6px 12px;
  color: #fff;
  background-color: #4b79bb;
  text-transform: uppercase;
  white-space: nowrap;
}

.steps {
  font-size: 14px;
}

.step {
  margin: 6px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .title {
    font-size: 14px;
  }

  .module {
    min-height: 100px;
  }

  .module:nth-child(2n) {
    align-items: flex-end;
  }

  .steps {
    max-width: 280px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 18px;
    font-weight: 400;
    padding: 8px 12px 4px 12px;
  }
}
