.wrapper {
  position: relative;
  margin-bottom: 100px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.teachersWrapper {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.teachersWrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.btn {
  position: absolute;
  top: 45%;
  transform: translate(0, -39%);
  border: none;
  background: transparent;
  outline: none;
}

.leftBtn {
  composes: btn;
  left: 4%;
}

.rightBtn {
  composes: btn;
  right: 4%;
}

.teacher {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

.photo {
  width: 70%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 50%;
  box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
}

.icon {
  width: 25px;
  height: auto;
}

@media (min-width: 768px) {
  .photo {
    width: 40%;
    margin-bottom: 35px;
  }

  .name {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 18px;
  }

  .icon {
    width: 38px;
  }

  .btn {
    top: 42%;
  }

  .leftBtn {
    left: 15%;
  }

  .rightBtn {
    right: 15%;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 34px;
  }

  .teacher {
    min-width: 33.333%;
  }

  .btn {
    top: 42%;
  }

  .leftBtn {
    left: 5%;
  }

  .rightBtn {
    right: 5%;
  }
}
