.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.logoImg {
  max-width: 20vw;
  width: auto;
  margin: 0.5em 0 0 1em;
}

@media (min-width: 768px) {
  .header {
    padding: 0 50px;
  }

  .logo {
    min-width: 100px;
    width: 12%;
  }

  .logoImg {
    margin: 0.5em 0 0 0;
    min-width: 100px;
    max-width: 160px;
    width: 100%;
  }

  .menuItem {
    position: relative;
    padding: 0.5em;
    margin: 0 10px;
    transition: all 0.3s ease;
  }

  .subMenu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    align-items: center;
    max-height: 90px;
    height: 9vh;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .logo {
    max-width: 10%;
  }

  .logoImg {
    padding: 0.8em;
  }

  .subMenu {
    width: 225px;
    padding: 1em;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 100%;
    position: absolute;
    list-style: none;
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
    transition: all 0.3s ease;
  }

  .menuItem {
    position: relative;
    padding: 18px 15px;
    margin: 0 10px;
    transition: all 0.3s ease;
  }

  .menuItem:hover {
    background-color: #fff;
  }

  .menuItem > a {
    color: #fff;
  }

  .menuItem:hover > a {
    color: #f07c00;
  }

  .menuItem:hover > .subMenu {
    visibility: visible;
    opacity: 1;
  }

  .submenuItem {
    margin: 2px 0;
    padding: 0.5em;
  }

  .submenuItem > a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    padding: 0.5em;
  }

  .submenuItem:hover > a {
    color: #f07c00;
  }
}
