.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.logoImg {
  max-width: 20vw;
  width: auto;
  margin: 8px 0 0 16px;
}
