.skill {
  font-family: 'Gotham Pro';
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  width: min-content;
  white-space: nowrap;
  padding: 6px 6px 3px 6px;
  margin: 16px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgba(183, 216, 227, 1) 0%,
    rgba(183, 216, 227, 0.74) 37%,
    rgba(183, 216, 227, 0.09) 100%
  );
}

.checkImg {
  max-width: 5%;
  margin: 0 8px;
}

.item {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  padding: 0 10px 10px 10px;
}

.text {
  max-width: 90%;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .skill {
    max-width: 100%;
    width: 100%;
  }

  .title {
    font-size: 16px;
    padding: 12px 20px 12px 15px;
  }

  .item {
    margin-left: 10px;
    margin-bottom: 12px;
  }

  .checkImg {
    margin: 0 25px 0 0;
  }

  .text {
    font-size: 16px;
  }
}
