.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 8px;
  color: #fff;
}

.contact {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 3px;
}

.plainText {
  color: #fff;
  font-weight: 500;
  font-size: 11px;
}

.text {
  color: #fff;
  font-weight: 500;
  font-size: 11px;
}

.iconsWrapper {
  display: flex;
  justify-content: center;
}

.icon {
  width: 25px;
  margin: 5px 10px;
}
