.btn {
  font-family: 'Gotham Pro';
  color: white;
  background: linear-gradient(to right, #fbff00 0%, #ffa200 55%, #ff6600 100%);
  border: none;
  border-radius: 7px;
  padding: 14px 18px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .btn {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .btn {
    font-size: 18px;
  }
}